<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decididor 2.0</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
<div class="container">
    <h1>Decididor 2.0</h1>
    <p>¡Bienvenido al Decididor 2.0! Aquí puedes tomar decisiones de manera divertida y aleatoria.</p>
    <form action="/decide" method="post">

        <div id="opciones-container">
            <h2>Deja que el destino decida por tí.</h2>
            <div>
                <label for="opcion1">Opción 1:</label>
                <input type="text" id="opcion1" name="opciones">
            </div>
            <div>
                <label for="opcion2">Opción 2:</label>
                <input type="text" id="opcion2" name="opciones">
            </div>
        </div>

        <div>
            <button type="button" id="agregar-opcion">Agregar otra opción</button>
        </div>

        <div>
            <label for="algoritmo">Elige un Algoritmo:</label>
            <select id="algoritmo" name="algoritmo">
                <!-- Iteramos sobre la lista de algoritmos -->
                <option th:each="algoritmo : ${algorithms}"
                        th:value="${algoritmo.code}"
                        th:text="${algoritmo}">
                </option>
            </select>
        </div>

        <button type="submit">¡Decidir!</button>
    </form>
</div>
<!-- Enlace al archivo de script externo -->
<script th:src="@{/js/script-decision-option.js}"></script>
</body>
</html>