<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/dark-mode.js}"></script>
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(${null})}"></div>
<div class="container">
    <h1 th:text="#{login.heading}">Iniciar Sesión</h1>
    <div th:if="${param.error}" style="color:red;" th:text="#{login.error}">
        Usuario o contraseña incorrectos.
    </div>

    <!-- El formulario envía una petición POST a /authenticate, que es manejada por Spring Security -->
    <form th:action="@{/authenticate}" method="post">
        <div>
            <label for="username" th:text="#{login.usernameLabel}">Usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password" th:text="#{login.passwordLabel}">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit" th:text="#{login.submit}">Entrar</button>
        </div>
        <div>
            <a th:href="@{/register}" th:text="#{login.registerLink}">¿No tienes cuenta? Regístrate aquí.</a>
        </div>
    </form>
</div>
</body>
</html>
