<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="logout">
    <a th:href="@{/logout}">Cerrar Sesión</a>
</div>
<div class="container">
    <div th:if="${username}">
        <h1>¡Bienvenido,<span th:text="${username}"></span> !</h1>
        <p>Estás en tu página principal. ¡Listo para tomar una decisión!</p>

        <a th:href="@{/form}" style="display: block; margin-top: 20px;">Ir al formulario de decisión</a>
    </div>

    <div th:unless="${username}">
        <p>No estás autenticado.</p>
        <a th:href="@{/login}">Ir a Iniciar Sesión</a>
    </div>
</div>
</body>
</html>
